# Logs
logs
*.log

# Dependency directories
node_modules/

# Build folder
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# parcel-bundler cache (https://parceljs.org/)
.parcel-cache

.DS_Store